{{/*
  GetAlbumExternalImages

  Returns normalized external image entries from front matter. Supports:
  - [[resources]] with src
  - [[photos]] with src or url
*/}}

{{ $externalImages := slice }}

{{ range .Params.resources }}
  {{ $src := "" }}
  {{ with .src }}
    {{ $src = printf "%v" . }}
  {{ end }}
  {{ $isRemote := or (strings.HasPrefix $src "https://") (strings.HasPrefix $src "http://") (strings.HasPrefix $src "//") }}
  {{ if and (ne $src "") $isRemote }}
    {{ $externalImages = $externalImages | append (dict "src" $src "title" .title "description" .description "shape" .shape "params" .params) }}
  {{ end }}
{{ end }}

{{ range .Params.photos }}
  {{ $src := "" }}
  {{ with (or .src .url) }}
    {{ $src = printf "%v" . }}
  {{ end }}
  {{ $isRemote := or (strings.HasPrefix $src "https://") (strings.HasPrefix $src "http://") (strings.HasPrefix $src "//") }}
  {{ if and (ne $src "") $isRemote }}
    {{ $externalImages = $externalImages | append (dict "src" $src "title" .title "description" .description "shape" .shape "params" .params) }}
  {{ end }}
{{ end }}

{{ return $externalImages }}